
<h2>Simple Form Snippet</h2>
<p>Get directions to the Empire State Building!</p>
<form action="http://maps.google.com/maps" method="get" target="_blank">
   <label for="saddr">Enter your location</label>
   <input type="text" name="saddr" size="40" maxlength="40" placeholder="where are you?"/>
   <input type="hidden" name="daddr" value="350 5th Ave New York, NY 10018 (Empire State Building)" />
   <input type="submit" value="Get directions" />
</form>
<br>
<h2>Custom Form</h2>
<p>A form that accesses fields values</p>
