ul.icon_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.icon_list li {
    list-style-type: none;
    margin: 5px 5px 5px 0;
    padding: 1px;
    float: left;
    width: 90px;
    height: 90px;
    text-align: center;
}

.icon {
    border: 0;
    height: 50px;
    margin: 10px;
    }

.icon-standardizer {
    height: 70px;
    width: 90px;
    text-align: center;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0;
    background: none;
    font-size: 0.8em;
    font-weight: normal;
}
