/*

DataZoomer
Copyright 2011 - Dynamic Solutions Inc.
written for www.datazoomer.com

*/

/* ---- COPY THIS STYLE TO ADJUST WIDTH ---- */
div.container { width: 960px; }

/* ----- RESETS ----- */
*, body, ul { margin: 0; padding: 0; }

body { text-align: center; }


body, table, input {
    font-family:helvetica,arial,freesans,clean,sans-serif; font-size:14px; }
}


/* Page
==========================*/
#header{ 
    height:170px;
}

#main { 
    min-height:100%; /* for modern browsers */
    height:auto !important; /* for modern browsers */
    height:100%; /* for IE5.x and IE6 */
    margin: 0 auto -50px;
}

#footer { 
    clear:both;
    height:50px;
}

/* Nav
==========================*/
div#system_menu { font-size: 0.8em; display: inline; }
div#system_menu ul { display: inline; text-align:left; }
div#system_menu li { display: inline; margin:0 7px 0 7px; }
div#system_menu a  { text-decoration: none; text-transform: lowercase; height:2em; }
div#system_menu a:hover { text-decoration: underline; }

div#main_menu { font-weight: bold; line-height: 35px; height:35px; }
div#main_menu ul { display: block; text-align:left; }
div#main_menu li { display: inline; margin-right:10px; }
div#main_menu a  { text-decoration: none; }
div#main_menu a:hover { text-decoration: underline; underline; }
div#main_menu a#current { }

div#app_menu { font-size: 12px; }
div#app_menu ul { display: block; text-align:left; }
div#app_menu li { display: inline; margin-right:10px; line-height:30px; height:30px; }
div#app_menu a  { text-decoration: none; }
div#app_menu a:hover { text-decoration: underline; }
div#app_menu a#current { font-weight:bold; }
div#app_menu { 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
    margin: 0 10px;
}
div#app_menu div.hpad { padding: 0 10px; }

nav ul {
    margin-left: 10px;
}

/* Misc
==========================*/
html, body { height: 100%; }
div.pad { padding: 10px 20px; }
div.hpad { padding: 0px 20px; }
div.vpad { padding: 10px 0px; }
div.container { margin-left: auto; margin-right: auto; }
div.clear { clear:both; }
div#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
#bottom, #push {
    height: 50px;
}


/* Header and Footer
==========================*/
div#bottom { text-align: center; width:100%; }

div#header {
    overflow: hidden;
    position: relative;
}
div#header_right { float: right; }
div#header_left  { float: left; }

div#footer, div#footer a { text-decoration: none; }
div#footer { sheight: 50px; sline-height: 50px; }
div#footer_right { line-height: 50px; float: right; font-size:0.8em; }
div#footer_left  { line-height: 50px; float: left; font-size:0.8em; }
div#footer li { display: inline; margin-right:10px; }

div.container, div#footer, div.content { width: 960px; text-align:left; }


