/*

    Greenish Color Scheme
    written for python-zoom
    http://www.dynamic-solutions.com/zoom.html
    
    Copyright 2011 - Dynamic Solutions Inc.

    .primary-1 { background-color: #006F48 }
    .primary-2 { background-color: #15533D }
    .primary-3 { background-color: #00482F }
    .primary-4 { background-color: #2EB787 }
    .primary-5 { background-color: #52B793 }
    
    .complement-1 { background-color: #A63600 }
    .complement-2 { background-color: #7C3D1F }
    .complement-3 { background-color: #6C2300 }
    .complement-4 { background-color: #D26835 }
    .complement-5 { background-color: #D2845F }

*/ 

    body { 
        background: #006F48; 
        color: green;
    }
    
    #main, #wrapper {
        background-color: #2EB787;
    }

    #header, #footer, #top, #bottom {
        background-color: #00482F;
    }

    a { color: #00482F; }
    a:visited { color: #6C2300; }
    a:hover { color: black; }

    div#system_menu a  { color: white; }

    div#main_menu { background-color: #ccc; }
    div#main_menu a { color: #444; }
    div#main_menu a:hover { color: white; }
    div#main_menu a#current { color: black; }

    div#app_menu { background-color: #fff; }
    div#app_menu a  { color: #333; }
    div#app_menu a:hover { color: #555; }
    div#app_menu a#current  { color: black; }

    .user_info { color: #aaa; }
    .meta { color: #555; }
    .wrong { color: red; margin-left:10px; }
    .hint { color: #555; margin-left:10px; }

    div.content { color: black; }
    div.content h1 { color: black; }
    div.content h2 { color: #325990; }
    div.content h2 { color: black; }
    

/* Input
==========================*/
    div input.button { border-color: #aaaaaa }
    div input, div.content textarea { border-color: #aaaaaa }
    
    .field_label { color: #006F48; }
    .field_edit .textarea { border-color: #cccccc; }
    .field_show .textarea { border-color: #cccccc; }
    .field_edit .memo_field { border-color: #cccccc; }
    
    a.action, input.button {
        background: #7C3D1F;
        color:white;
        }
    a.action:hover, input.button:hover {
        background: #A63600;
        color:white;
        }

    div.markdown table { border-color: #ccc; }
    div.markdown table th { background-color: #ccc; }

    .messages { color: green; background-color: #ddeedd; }
    .warnings { color: #A66E00; background-color: #FFEA73; }
    .errors { color: red; background-color: #eeddee; }

/* Tables
==========================*/
    div.baselist table { border-color: #ddd; }
    div.baselist th { 
        background:#ccc; 
        color: black;
    }
    div.baselist td { color: black; }
    .baselist tr.dark { background-color:#E0E0E0; }
    .baselist tr.dark:hover { background-color:#B0B0B0; }
    .baselist tr.light { background-color:#F8F8F8; }
    .baselist tr.light:hover { background-color:#B0B0B0; }


