/*
 * Page content styles.
*/

body, table, input, select { 
    font-family: helvetica,arial,freesans,clean,sans-serif; 
    font-size: 14px; 
}

a { 
    text-decoration:none; 
}

a:hover { 
    text-decoration:underline; 
}

.content { 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 20px;
}

.content h1 { font-size: 27px; margin: 1em 0 0.4em; }
.content h2 { font-size: 18px; margin: 1em 0 0; }
.content h3 { font-size: 16px; font-weight:bold; }
.content h1, .content h2, .content h3, .content h4, .content h5 { clear: both; }
.content p { margin: 0.5em 0 0.5em 0; }
.content ul { line-height: 1.5em; margin-left: 2em; list-style-type: disc; }
.content ol { line-height: 1.5em; margin-left: 2em; }
.content blockquote { margin-left: 2em; }
.content hr {
        height: 1px;
        width: 100%;
        margin: 20px 0px;
        display: block;
        border-top: thin dashed #ccc; 
        background: none;
    }

.markdown table { border: thin solid #ccc; margin: 20 30 20 20; }
.markdown table tr td, div.markdown table th td  { padding: 0 20 0 10; }
.markdown table th { background-color: #ccc; padding: 2 20 2 10; }

div.content p img {
    float: right;
    border: 1px solid #BBB;
    padding: 5px;
    margin: 10px;
    background-color: white;
}

.content blockquote ol { 
    list-style-type: lower-alpha; 
    padding-left: 1em;
}

.content blockquote blockquote ol { 
    list-style-type: lower-roman; 
    padding-left: 1em;
}

.content ul li blockquote  {
    margin: 0 0 0 0.25em;
}

.content ol li blockquote  {
    margin: 0 0 0 1em;
}

.content pre code {
    margin: 1em 4em 1em 2em;
    display: block;
    background: #ffc;
    padding: 15px 5px;
}

.content pre {
    margin: 0;
    padding: 0;
    display: block;
    background: #ffc;
    border: 0;
}

.dz-toc ul {
    list-style-type: none;
}

/* Guide Styles
 * =====================*/
.dz-guide {
    position: relative;
    margin: 0 15px;
}
.dz-guide .feature {
    background: #d5e9f6;
    padding: 0.5em 0 1.5em;
}
.dz-guide .body {
    background: white;
    font-size: 1.2em;
    line-height: 1.5em;
}
.dz-guide .side-panel {
    position: absolute;
    z-index: 0;
    top: 3em;
    right: 0;
    background: #FFF;
    padding: 1em 0.5em 1em 0.5em;
    font-size: 0.8285em;
    line-height: 1.3846em;
    margin-right: 1em;
}
.dz-guide .side-panel ul {
    padding: 0.5em;
}

.dz-guide .side-panel .infobox {
    margin: 0 0 1.5em 0;
}
.dz-guide .side-panel ul {
    list-style-type: none;
}
.dz-guide .side-panel .toc {
    margin-left: 2em;
}
.dz-guide .side-panel .toc ul {
    list-style-type: disc;
}
.dz-guide .side-panel ul li div {
    padding: 1em;
    border-radius: 4px;
}
.dz-guide .feature {
    font-size: 1.4em;
    padding: 1em;
}
.dz-guide .feature h1 {
    font-size: 2.2em;
    margin-top: 0.5em;
}

