
/* Resets and Overrides
==========================*/

    * {
        margin: 0;
    }
    html, body {
        height: 100%;
    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -50px;
    }
    .bottom, .push {
        height: 50px;
    }

    body { background: #eee; text-align:center; }
    body, ul { margin:0; padding:0; }
    body, table, input { font-family:helvetica,arial,freesans,clean,sans-serif; font-size:14px; }

    div.pad { padding: 5px 20px 5px 20px; }
    div.hpad { padding: 0px 20px 0px 20px; }
    div.vpad { padding: 5px 0px 5px 0px; }

/* Header and Footer
==========================*/
    div.bottom { text-align: center; width:100%; background:black; }
    div.top, div.top a { color: black; }

    div.header {
        overflow: hidden;
        position: relative;
    }
    div.header_right { float: right; }
    div.header_left  { float: left; }
    div.header { background: black; color: white; }
    span.site_header_text, span.site_header_text a, span.site_header_text a:visited {
      font-family: 'Arial', serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      text-shadow: none;
      text-decoration: none;
      text-transform: none;
      letter-spacing: 0em;
      word-spacing: 0em;
      line-height: 40px;
      color: #ccc;
    }
    span.site_header_text a:hover {
        color: white;
    }

    div.footer, div.footer a { background: black; color: grey; text-decoration: none; }
    div.footer { height: 50px; line-height: 50px; }
    div.footer_right { line-height: 50px; float: right; font-size:0.8em; }
    div.footer_left  { line-height: 50px; float: left; font-size:0.8em; }
    div.footer li { display: inline; margin-right:10px; }

